body{

    font-family: Arial , Verdana , sans-serif;
    font-size: 16px;
    background-color: #131313;
    color: #e41414;
}

h1{
    color: #e9cf25;
    font-size: 24px;
    font-family: Arial, Verdana , sans-serif;

}